<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
</head>
<body>
	<div class="container mt-5">
		
		<div class="alert alert-info" role="alert">
			<h4 class="alert-heading">Important Information!</h4>
			<p>Please use a fake email and fake password.</p>
			<p>When you make an account, you will be added to a class. In the
				future, it might pull classes from an API and add them to your
				account. For now, you just get auto-added to two class.</p>
			<p>
		</div>

		<h2>Register</h2>
		<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
			<p th:text="${errorMessage}">Error message here</p>
		</div>
		<form th:action="@{/register}" method="post">
			<div class="form-group">
				<label>Email</label> <input type="email" class="form-control"
					id="studentEmail" name="studentEmail" placeholder="Enter email"
					required>
			</div>
			<div class="form-group">
				<label>Password</label> <input type="password" class="form-control"
					id="studentPassword" name="studentPassword" placeholder="Password"
					required>
			</div>
			<div class="form-group">
				<label>First Name</label> <input type="text" class="form-control"
					id="studentFirstName" name="studentFirstName"
					placeholder="Enter first name" required>
			</div>
			<div class="form-group">
				<label>Last Name</label> <input type="text" class="form-control"
					id="studentLastName" name="studentLastName"
					placeholder="Enter last name" required>
			</div>
			<p>
			<h3> </h3>
			<button type="submit" class="btn btn-primary">Register</button>
			</p>
		</form>
		<p>
			Already have an account?<a th:href="@{/login}" class="btn btn-secondary">Login here</a> 
		
			<a th:href="@{/}"class="btn btn-secondary">Home</a>
		</p>

		<div class="alert alert-light" role="alert">
			<p>
				For detailed API documentation, please visit: <a
					th:href="@{/api/docs}">API Documentation</a>
			</p>

		</div>
	</div>
</body>
</html>

